<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>專案成員名單</title>

    {% extends 'first_page.html' %}

</head>

<body>
    {% block footer %}
    <footer class="bg-light text-center text-lg-start" id="id_footer">
        <div class="text-left p-3" style="background-color: #32b35f; text-align: right; font-weight:bold">
            © 2021 Copyright : <a class="text-dark">BDSE18-青菜青菜買</a>
        </div>
    </footer>
    {% endblock footer %}

    {% block text %}
    <div
        style=" font-weight:bolder ; color:white;font-weight:bold; text-shadow: black 1px 1px 1px, white -1px 0px 2px ;">
        <h2>專案成員組成</h2>
    </div>
    {% endblock text %}

    {% block right_div %}
    <!-- 組長 余 -->
    <br>

    <div style="margin-left:30px ;">
        <div class="container">
            <div class="row">
                <div class="col" style="width: 100px;">
                    <div class="text-center">
                        <img src="../static/img/21.jpg" class="rounded" alt="..." width="250px">
                    </div>
                </div>
                <div class="col-8">
                    <!-- <div> -->
                    <h2>曾于恬</h2>
                    <!-- </div> -->
                    <div class="container" style="padding-left:0px">
                        <div class="row">
                            <div class="col">
                                <h5>專題負責:</h5>
                                <div>
                                    <div>
                                        <table>
                                            <tr>
                                            <tr>組長</tr>
                                            <br>
                                            <tr>專案提案、管理、整合</tr>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h5>叢集角色:</h5>
                                <div>
                                    <table>
                                        <tr>
                                        <tr>Resource Manager</tr>
                                        <br>
                                        <tr>Journal Node</tr>
                                        <br>
                                        <tr>Spark - Worker</tr>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <!-- 隊員4號 珊 -->
        <div class="container">
            <div class="row">
                <div class="col" style="width: 100px;">
                    <div class="text-center">
                        <img src="../static/img/04.jpg" class="rounded" alt="..." width="250px">
                    </div>
                </div>
                <div class="col-8">
                    <!-- <div> -->
                    <h2>吳斌珊</h2>
                    <!-- </div> -->
                    <div class="container" style="padding-left:0px">
                        <div class="row">
                            <div class="col">
                                <h5>專題負責:</h5>
                                <div>
                                    <div>
                                        <table>
                                            <tr>
                                            <tr>資料收集 - 爬蟲</tr>
                                            <br>
                                            <tr>資料整理</tr>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h5>叢集角色:</h5>
                                <div>
                                    <table>
                                        <tr>
                                        <tr>Name Node</tr>
                                        <br>
                                        <tr>Worker</tr>
                                        <br>
                                        <tr>Spark - Worker</tr>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- 隊員10號 玲 -->
        <div class="container">
            <div class="row">
                <div class="col" style="width: 100px;">
                    <div class="text-center">
                        <img src="../static/img/10.jpg" class="rounded" alt="..." width="250px">
                    </div>
                </div>
                <div class="col-8">
                    <!-- <div> -->
                    <h2>黃渝玲</h2>
                    <!-- </div> -->
                    <div class="container" style="padding-left:0px">
                        <div class="row">
                            <div class="col">
                                <h5>專題負責:</h5>
                                <div>
                                    <div>
                                        <table>
                                            <tr>
                                            <tr>資料清洗</tr>
                                            <br>
                                            <tr>特徵篩選</tr>
                                            <br>
                                            <tr>模型建立</tr>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h5>叢集角色:</h5>
                                <div>
                                    <table>
                                        <tr>
                                        <tr>Job History Server</tr>
                                        <br>
                                        <tr>Journal Node</tr>
                                        <br>
                                        <tr>Spark - Worker</tr>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <!-- 隊員16號 哲 -->
        <div class="container">
            <div class="row">
                <div class="col" style="width: 100px;">
                    <div class="text-center">
                        <img src="../static/img/16.jpg" class="rounded" alt="..." width="250px">
                    </div>
                </div>
                <div class="col-8">
                    <!-- <div> -->
                    <h2>諸安哲</h2>
                    <!-- </div> -->
                    <div class="container" style="padding-left:0px">
                        <div class="row">
                            <div class="col">
                                <h5>專題負責:</h5>
                                <div>
                                    <div>
                                        <table>
                                            <tr>
                                            <tr>Hadoop & Spark叢集</tr>
                                            <br>
                                            <tr>MySQL資料庫</tr>
                                            <br>
                                            <tr>串接網頁伺服器與資料庫</tr>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h5>叢集角色:</h5>
                                <div>
                                    <table>
                                        <tr>
                                        <tr>Resource Manager</tr>
                                        <br>
                                        <tr>Worker</tr>
                                        <br>
                                        <tr>Spark - Master</tr>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <!-- 隊員87號 倫 -->
        <div class="container">
            <div class="row">
                <div class="col" style="width: 100px;">
                    <div class="text-center">
                        <img src="../static/img/17.jpg" class="rounded" alt="..." width="250px">
                    </div>
                </div>
                <div class="col-8">
                    <!-- <div> -->
                    <h2>沈才倫</h2>
                    <!-- </div> -->
                    <div class="container" style="padding-left:0px">
                        <div class="row">
                            <div class="col">
                                <h5>專題負責:</h5>
                                <div>
                                    <div>
                                        <table>
                                            <tr>
                                            <tr>資料收集 - 爬蟲 & API</tr>
                                            <br>
                                            <tr>資料清洗</tr>
                                            <br>
                                            <tr>網頁製作</tr>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h5>叢集角色:</h5>
                                <div>
                                    <table>
                                        <tr>
                                        <tr>Name Node</tr>
                                        <br>
                                        <tr>Worker</tr>
                                        <br>
                                        <tr>Spark - Worker</tr>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>





    {% endblock right_div %}

</body>

</html>